/* Colors and fonts */
body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 12px;
  font-weight: lighter;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
  opacity: 0.8;
  box-shadow: rgba(127, 0, 255, .8) ;
}
h2 {
  color: rgba(127, 0, 255, .8);;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
  box-shadow: 0 20px 20px -15px rgba(127, 0, 255, .8);
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: #6d6875;
}
/* Custom design SELECTOR */
.container {
  width: 700px;
  margin: 40px auto;
}
.container {
  width: 500px;
  margin: 0 auto;
}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}




.btn-blue {
  background-color: rgba(127, 0, 255, .8);
  color: white;
  padding: 15px 20px;
  box-shadow: 0 20px 20px -15px rgba(127, 0, 255, .8);
  border-radius: 50px;
  opacity: 0.8;

}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}
